<%- include('includes/header', {title: 'Produtos'}) %>
  <main class="container mt-3">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Cadastro de Produtos</li>
          </ol>
        </nav>
      </div>
    </div>
    <div class="row">
      <h1>Produtos cadastrados:</h1>
      <!-- products vem do controller da rota. -->
      <% for(let item of products) { %>
        <div class="col-2 pa-3 mb-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= item.nome %></h5>
              <p class="card-text"><%= item.descricao %></p>
              <span>R$ <%= item.preco %></span>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
      <% } %>
    </div>
  </main>
<%- include('includes/footer') %>